<div class="dashboard-wrapper">
  <header>
      SALESPOS| PRODUCT
  </header>
  <div class="dashboard-main">
   <div class="side-nav">

    <div class="functionality-list">
        <div class="option-wrapper services">
          <span class="tool-tip">Services</span>
        </div>
        <div class="option-wrapper planner">
          <span class="tool-tip">Planner</span>
        </div>
    </div>

   </div>
   <div class="product-selection">
     <div class="product-card">
        <span class="product-name">Product Name</span>
        <span>30$</span>
     </div>
     <div class="product-card">
      <span class="product-name">Product Name</span>
      <span>30$</span>
   </div>
   <div class="product-card">
    <span class="product-name">Product Name</span>
    <span>30$</span>
 </div>
 <div class="product-card">
  <span class="product-name">Product Name</span>
  <span>30$</span>
</div>
   </div>


  </div>
</div>
